* {
  box-sizing: border-box;
}
body {
  background-color: rgb(74, 58, 216);
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 2rem;
  text-align: center;
}
#roll {
  padding: 20px;
  border-radius: 20px;
  font-size: 40px;
  cursor: pointer;
  border: none;
}
.my_labels {
  font-size: 3rem;
  color: #fff;
}
